.footer {
    padding: 84px 0;

    @include maxw992 {
        padding: 60px 0;
    }

    @include maxw768 {
        padding: 45px 0;
    }

    &__address,
    &__copy {
        color: #425563;
    }

    &__address {
        margin-bottom: 21px;
        font-style: normal;
    }

    &__item {

        @include maxw992 {
            text-align: center;
        }

        &+& {
            margin-top: 2px;

            @include maxw992 {
                margin-top: 15px;
            }
        }
    }

    &__link {
        font-family: "Gotham", sans-serif;
        font-weight: 500;
        transition: opacity 0.2s;

        &:hover {
            opacity: 0.7;
        }
    }

    &__form {
        margin-bottom: 35px;

        @include maxw992 {
            flex-direction: column;
            align-items: center;
            height: 170px;
            justify-content: space-between;
        }
    }

    &__label {
        font-size: 0;
        visibility: hidden;
    }

    &__input,
    &__btn {
        padding: 6px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;

        @include maxw992 {
            height: 40px;
        }
    }

    &__input {
        padding-left: 10px;
        max-width: 310px;
        width: 100%;
        outline: none;
        font-size: 12px;
    }

    &__btn,
    &__share {
        border: none;
        cursor: pointer;
    }

    &__btn {
        min-width: 230px;
        font-size: 14px;
    }

    &__share {
        margin-left: 11px;
        width: 32px;
        background-image: url('../images/icon-share.svg');
        background-repeat: no-repeat;
        background-position: center;

        @include maxw992 {
            margin-left: 0;
            width: 45px;
            height: 45px;
            background-size: 70%;
        }
    }

    &__input {
        border: 1px solid #425563;
    }

    &__copy {
        font-size: 12px;
        font-family: "Gotham", sans-serif;
        font-weight: 300;

        @include maxw992 {
            text-align: center;
        }
    }

}